<div class="modal fade" id="user-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark text-white">
        <div class="modal-header bg-dark text-white">
          <h5
          class="modal-title"
          id="exampleModalLabel"
          style='color: #fff8ed;'>
          Личный кабинет - {{request.user.username}}
          </h5>
          <button
          class="btn btn-sm btn-outline-secondary" style='color: #fff8ed; aspect-ratio: 1; height: 35px;'
          data-bs-dismiss="modal" aria-label="Close"
          >
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
              </svg>
          </button>
        </div>
        <div class="modal-body">
          <div class='row' style='color: #fff8ed;'>
            <div class='col d-flex align-items-center'>
                <button
                id='user-button'
                class="btn btn-sm btn-outline-success"
                style='color: #fff8ed; aspect-ratio: 1; height: 35px;'
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                  </svg>
                </button>
                <div style='margin-left: 10px;'>
                    Файл конфигурации GSI
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" style='justify-content: flex-start'>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class='btn btn-danger' type="submit">Выйти из аккаунта</button>
          </form>
        </div>
      </div>
    </div>
</div>